#countup {
  text-align: center;
}

#countup p {
display: inline-block;
padding: 5px;
background: blue;
margin: 0 0 20px;
border: 2px solid white;
color: white;
font-size: 40px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

body {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/archive/a/a4/20151118161037!Flag_of_the_United_States.svg");
  Background-size: 100%;
}

h1 {
  -webkit-text-stroke: 1px white;
  color: black;
  text-align: center;
  font-size: 70px;
}

#num1 {
  margin-top: 0%;
}

#num2 {
  margin-bottom: 5%;
  font-size: 75px;
}

